<template name="changePassword">
    <div class="admin">
        <h2 class="title">Admin Area: Change Password</h2>

        {{#if currentUser}}
            <p class="toolbar"><a href="{{pathFor 'admin'}}">Go back to the Dashboard</a> or {{>logout}}</p>

            {{>changePasswordForm}}
        {{else}}
            <p>You are not logged in!</p>

            {{>loginForm}}
        {{/if}}
    </div>
</template>

<template name="changePasswordForm">
    <form id="change-password-form">
    </form>
</template>