<template name="loginForm">
    <form id="login-form" action="action">
        <label for="login-username">Username or email:</label>
        <input type="text" name="username" id="login-username" placeholder="Username">
        <label for="login-password">Password:</label>
        <input type="password" name="password" id="login-password" placeholder="Password">
        <button type="submit" id="login-button">Submit</button>
        <button type="reset" id="login-reset">Reset</button>
    </form>
</template>