<template name="contact">
    <div class="contact">
        <h2 class="title">Contact</h2>

        {{{content}}}

        {{>contactForm}}
    </div>
</template>

<template name="contactForm">
    <div id="contact-notice"></div>
    <form id="contact-form">
        <label for="contact-name">Name:</label>
        <input id="contact-name" name="contact-name" type="text" placeholder="Name">
        <label for="contact-email">Email:</label>
        <input id="contact-email" name="contact-email" type="email" placeholder="Email">
        <label for="contact-subject">Brief Subject:</label>
        <input id="contact-subject" name="contact-subject" type="text" placeholder="Brief Subject">
        <label for="contact-message">Message:</label>
        <textarea id="contact-message" name="contact-message" placeholder="Message"></textarea>
        <!--{{> reCAPTCHA}}-->
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </form>
</template>