<template name="blog">
    <div class="blog">
        <h2 class="title">Blog{{#if tag}}: tagged &ldquo;{{tag}}&rdquo;{{/if}}</h2>

        <div class="h-feed">
            {{#each posts}}
                <article class="h-entry">
                    <header>
                        <h3 class="p-name"><a href="{{pathFor 'blogShow'}}">{{title}}</a></h3>

                        <ul class="post-info">
                            <li class="author">Author:
                            {{#if username}}
                                <a class="p-author h-card" href="{{pathFor 'userProfile' username=username}}">{{authorName}}</a>
                            {{else}}
                                {{authorName}}
                            {{/if}}</li>
                            <li class="date">Published: <time class="dt-published" datetime="{{formatDateTime publishedAt ''}}">{{formatDateTime publishedAt "MMMM Do, YYYY hh:mma z"}}</time></li>
                            {{> blogTagTemplate}}
                            <li>Permalink: <a href="{{urlFor 'blogShow'}}">{{urlFor "blogShow"}}</a></li>
                        </ul>
                    </header>
                    <div class="e-content">
                        {{{excerpt}}}

                        <p><a href="{{pathFor 'blogShow'}}">Read more</a></p>
                    </div>
                </article>

            {{else}}
                <p>There are no posts yet!</p>
            {{/each}}

            {{blogPager}}
        </div>
    </div>
</template>

<template name="blogTagTemplate">
    {{#if tags}}
        <li class="post-tags">Tags: {{blogFormatTags tags}}</li>
    {{/if}}
</template>