<template name="blog">
    <section class="blog" itemscope itemtype="http://schema.org/Blog">
        <h2 class="title">Blog{{#if tag}}: tagged &ldquo;{{tag}}&rdquo;{{/if}}</h2>

        <div class="h-feed">
            {{#each posts}}
                <article class="h-entry" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
                    <header>
                        <time class="dt-published" datetime="{{formatDateTime publishedAt ''}}" itemprop="datePublished" content="{{formatDateTime publishedAt ''}}"><a href="{{pathFor 'blogShow'}}">{{formatDateTime publishedAt "MMMM Do, YYYY"}}</a></time>

                        <h3 class="p-name" itemprop="headline"><a href="{{pathFor 'blogShow'}}">{{title}}</a></h3>
                    </header>
                    <div class="e-content" itemprop="articleBody">
                        {{{excerpt}}}

                        <p><a href="{{pathFor 'blogShow'}}">Read more</a></p>
                    </div>
                    <footer>
                        <ul class="post-info">
                            <li>Published at {{formatDateTime publishedAt "hh:mma z"}} by
                                {{#if username}}
                                    <a class="p-author h-card" href="{{pathFor 'userProfile' username=username}}" rel="author" itemprop="author" content="Elizabeth Kilrain">{{authorName}}</a>
                                {{else}}
                                    <span itemprop="author" content="Elizabeth Kilrain">{{authorName}}</span>
                                {{/if}}</li>
                            {{>blogTagTemplate}}
                            <li>Permalink: <a href="{{urlFor 'blogShow'}}" itemprop="url">{{urlFor "blogShow"}}</a></li>
                        </ul>
                    </footer>
                </article>

            {{else}}
                <p>There are no posts yet!</p>
            {{/each}}

            {{blogPager}}
        </div>
    </section>
</template>

<template name="blogTagTemplate">
    {{#if tags}}
        <li>Tags: {{blogFormatTags tags}}</li>
    {{/if}}
</template>