<template name="singlePost">
    <div class="blog">
        <article class="h-entry single-post">
            <header>
                <h2 class="p-name">{{title}}</h2>

                <ul class="post-info">
                    <li class="author">Author:
                    {{#if username}}
                        <a class="p-author h-card" href="{{pathFor 'userProfile' username=username}}">{{authorName}}</a>
                    {{else}}
                        {{authorName}}
                    {{/if}}</li>
                    <li class="date">Published: <time class="dt-published" datetime="{{formatDateTime publishedAt ''}}">{{formatDateTime publishedAt "MMMM Do, YYYY hh:mma z"}}</time></li>
                    {{> blogTagTemplate}}
                    <li>Permalink: <a href="{{urlFor 'blogShow'}}">{{urlFor "blogShow"}}</a></li>
                </ul>
            </header>
            <div class="e-content">
                {{{html}}}
            </div>
        </article>
        {{> shareit shareData}}
        {{> disqus this}}
    </div>
</template>